In [9]:
#0.an end-to-end skicit learn workflow
#1.Getting the data ready
#2.Choose the right estimator/algorithm for our problems
#3.Fit the model/algorithm and use it to make predictions on our data
#4.Evaluating a model
#5.Improve a model
#6.Save and load a trained model
#7.Putting it all together

0.An end-to-end scikit learn workflow

In [21]:
import pandas as pd
import numpy as np
pj = pd.read_csv("heart-disease.csv")
pj

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
#Create X (features matrix)
X = pj.drop("target",axis=1)
#Create Y
Y = pj["target"]

In [16]:
#2.Choose the model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [13]:
#3. Fit the model to the data
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2)

In [20]:
clf.fit(X_train,Y_train);

In [22]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
56,48,1,0,122,222,0,0,186,0,0.0,2,0,2
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
100,42,1,3,148,244,0,0,178,0,0.8,2,2,2

In [23]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0])

In [25]:
Y_test

258    0
75     1
126    1
268    0
45     1
      ..
152    1
0      1
229    0
259    0
106    1
Name: target, Length: 61, dtype: int64

In [32]:
#EVALUATE THE MODEL ON THE TRAINING DATA AND TEST DATA
clf.score(X_train,Y_train)

1.0

In [33]:
clf.score(X_test,Y_test)

0.8360655737704918

In [40]:
from sklearn.metrics import classification_report,accuracy_score


print(classification_report(Y_test,y_preds))

              precision    recall  f1-score   support

           0       0.84      0.84      0.84        32
           1       0.83      0.83      0.83        29

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [41]:
confusion_matrix(Y_test,y_preds)

array([[27,  5],
       [ 5, 24]])

In [42]:
accuracy_score(Y_test,y_preds)

0.8360655737704918

In [43]:
#Improve a model
#Try diffrent amout of n_estimator
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with{i} estimators....")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set:{clf.score(X_test,Y_test)*100:.2f}%")
    print("")

Trying model with10 estimators....
Model accuracy on test set:77.05%

Trying model with20 estimators....
Model accuracy on test set:85.25%

Trying model with30 estimators....
Model accuracy on test set:85.25%

Trying model with40 estimators....
Model accuracy on test set:81.97%

Trying model with50 estimators....
Model accuracy on test set:80.33%

Trying model with60 estimators....
Model accuracy on test set:78.69%

Trying model with70 estimators....
Model accuracy on test set:81.97%

Trying model with80 estimators....
Model accuracy on test set:83.61%

Trying model with90 estimators....
Model accuracy on test set:81.97%

In [46]:
import pickle
pickle.dump(clf,open("random_forest_mode1.pkl","wb"))